@charset "utf-8";
/* CSS Document */
body {
    background-color: #183F59;
}

.headheight {
    padding-top: 20px;
    padding-bottom: 10px;
}

.headmid {
    margin-left: 500px;
    margin-top: 100px;
}

.nav navbar-nav navbar-right {
    padding: 0px;
    margin: 0px;
}

.form-control {
    background-color: #316282;
    border: 0px;
    color: #FFF;
}

.btn {
    background-color: #316282;
    border: 0px;
    padding: 9px 12px;
}

.daohangyanse {
    background-color: #356F95;
    border: none;

}

.navbar-default .navbar-nav > li > a {
    color: #FFF;
    font-family: "Motiva Sans", Sans-serif;
}

.inputmargin {
    margin-left: 230px;
}

.carousel img {
    width: 100%;
}

.gutter_header {
    color: #66c0f4;
}

.list-group-item {
    background-color: #183F59;
    color: #66c0f4;
    font-size: 13px;
    font-family: "Motiva Sans", Sans-serif;
    border: 0px;
}

.tit {
    color: #fff;
    font-size: 17px;
    font-family: "Motiva Sans", Sans-serif;
}

.tit_0 {

    margin-bottom: 10px;
}

.tit_1 {
    margin-top: 30px;
    margin-bottom: 10px;
}

.carousel .item_0 {
    background-color: #183F59;
    width: 616px;
    height: 353px;
    float: left;
}

.carousel .item_1 {
    background-color: #171a21;
    width: 306px;
    height: 353px;
    float: left;
    font-size: 24px;
    color: #fff;
    font-family: "Motiva Sans", Sans-serif;
    text-align: center;
    line-height: 390px;
}

.carousel-inner {
    height: 392px;
}

.carousel .item_1_1 {
    background-color: #183F59;
    width: 306px;
    height: 203px;
    float: left;
}

#carousel-example-generic {
    width: 925px;
}

#carousel_1 {
    width: 920px;
}

.tit span {
    font-size: 12px;
    float: right;
    color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #FFF;
    padding: 4px;
}

.zhekou {
    position: relative;
    bottom: 50px;
    left: 1px;
    width: 35px;
    height: 15px;
    background-color: #090;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF;
    line-height: 15px;
}

.shoujia {
    position: relative;
    bottom: 65px;
    left: 36px;
    width: 100px;
    height: 15px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF;
    line-height: 15px;
}

.shoujia_1 {
    position: relative;
    bottom: 50px;
    left: 1px;
}

.zhichi {
    position: relative;
    bottom: 95px;
    left: 250px;
    width: 35px;
    height: 15px;
    line-height: 15px;
}

.zhichi_1 {
    position: relative;
    bottom: 80px;
    left: 250px;
}

.zhichi_2 {
    position: relative;
    bottom: 115px;
    left: 215px;
}

.liulan {
    width: 226px;
    height: 58px;
    background-color: #1E6E93;

    text-align: center;
    line-height: 58px;
    color: #66c0f4;
}

.bs:hover {
    color: #FFF;
}

.zx {
    margin-top: 90px;
    background-color: #183F59;
}

.rowpy {
    margin-left: 0px;
}

.nav-tabs {
    border: none;
}

.dibu {
    height: 120px;
    background-color: #101822;
    color: #8F98A0;
    text-align: center;
    padding-top: 50px;
    padding-left: 150px;
    padding-right: 150px;
}

.yingcang {
    display: none;
}

ul li {
    list-style-type: none;
}

.nav nav-tabs {
    width: 590px;
}

.imgwh {
    height: 353px;
}

.zximgwh {
    height: 140px;
    width: 300px;
}

.zximgwh_1 {
    height: 140px;
    width: 295px;
    margin-top: 2px;
    text-align: center;
}

.rowpy {
    margin-bottom: 2px;
    background-color: #1D3041;
    color: white;
}

.cancelpadding {
    padding: 0px;
}

.smargin {
    margin-top: 15px;
}

.smargin_1 {
    float: right;
    margin-right: 20px;
    margin-top: 25px;
}

.smargin_2 {
    margin-top: 70px;
}

.smargin_3 {
    font-size: 20px;
    color: #183F59;
}

.smargin_4 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 8px;
    color: #c6d4df;
}

.smargin_5 {
    margin-bottom: 10px;
}

.spadding {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #356F95;
    margin-top: 40px;
}

.divHover {
    color: white;
}

.all_bg {
    width: 800px;
    height: 600px;
    margin: 0px auto;
}

#allcanvas {
    position: relative;
    width: 800px;
    height: 600px;
    margin: 0px;
}

#canvas1 {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

#canvas2 {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
}

#playbtn {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
}