<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <mvc:annotation-driven />
    <mvc:default-servlet-handler />
    <mvc:interceptors>
        <bean class="cn.cie.interceptor.AuthInterceptor" />
    </mvc:interceptors>
    <mvc:resources mapping="/img/**" location="WEB-INF/image/" />
    <mvc:resources mapping="/css/**" location="WEB-INF/css/" />
    <!--<mvc:resources mapping="/js/**" location="WEB-INF/js/" />-->
    <!--<mvc:resources mapping="/lib/**" location="WEB-INF/lib/" />-->
    <!--<mvc:resources mapping="/fonts/**" location="WEB-INF/fonts/" />-->
    <!--<mvc:resources mapping="/plugins/**" location="WEB-INF/plugins/" />-->
    <context:component-scan base-package="cn.cie.controller" />
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" >
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
        <property name="prefix" value="/WEB-INF/jsp/" />
        <property name="suffix" value=".jsp" />
    </bean>

</beans>