<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cie.mapper.CodeMapper">
  <resultMap id="BaseResultMap" type="cn.cie.entity.Code">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="item" jdbcType="INTEGER" property="item" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="stat" jdbcType="TINYINT" property="stat" />
  </resultMap>
  <sql id="Base_Column_List">
    id, item, uid, code, stat
  </sql>

  <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from code
    where id = #{id,jdbcType=INTEGER}
  </select>

  <insert id="insert" parameterType="cn.cie.entity.Code" useGeneratedKeys="true" keyProperty="id">
    insert into code
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="item != null">
        item,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="code != null">
        code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="item != null">
        #{item,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="update" parameterType="cn.cie.entity.Code">
    update code
    <set>
      <if test="stat != null">
        stat = #{stat,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>