<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cie.mapper.ImgMapper">
  <resultMap id="BaseResultMap" type="cn.cie.entity.Img">
    <result column="game" jdbcType="INTEGER" property="game" />
    <result column="img" jdbcType="VARCHAR" property="img" />
  </resultMap>

  <insert id="insert" parameterType="cn.cie.entity.Img">
    insert into img
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="game != null">
        game,
      </if>
      <if test="img != null">
        img,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="game != null">
        #{game,jdbcType=INTEGER},
      </if>
      <if test="img != null">
        #{img,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <insert id="insertBatch" parameterType="list">
    insert into img (game, img)
    values
    <foreach collection="imgs" item="img" separator=",">
      (#{game,jdbcType=INTEGER}, #{img})
    </foreach>
  </insert>

  <select id="selectByGame" parameterType="java.lang.Integer" resultType="java.lang.String">
    select img from img where game = #{game,jdbcType=INTEGER}
  </select>
</mapper>