<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cie.mapper.KindMapper">
  <resultMap id="BaseResultMap" type="cn.cie.entity.Kind">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name
  </sql>

  <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from kind
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultType="cn.cie.entity.Kind">
    select
    <include refid="Base_Column_List" />
    from kind;
  </select>
  <select id="selectByIds" parameterType="list" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from kind
    <where>
      id in
      <foreach collection="ids" item="id" separator="," open="(" close=")">
        #{id}
      </foreach>
    </where>
  </select>
  <select id="selectByName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from kind
    where `name` = #{name,jdbcType=VARCHAR}
  </select>
  <select id="selectIdByLikeName" parameterType="java.lang.String" resultType="java.lang.Integer">
    select id from kind where name like CONCAT('%',#{info,jdbcType=VARCHAR},'%')
  </select>

  <delete id="delete" parameterType="java.lang.Integer">
    delete from kind
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="cn.cie.entity.Kind" useGeneratedKeys="true" keyProperty="id">
    insert into kind
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKey" parameterType="cn.cie.entity.Kind">
    update kind
    set name = #{name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>