<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cie.mapper.OrdermapperMapper">
  <resultMap id="BaseResultMap" type="cn.cie.entity.Ordermapper">
    <result column="order" jdbcType="INTEGER" property="order" />
    <result column="item" jdbcType="INTEGER" property="item" />
  </resultMap>
  <insert id="insert" parameterType="cn.cie.entity.Ordermapper">
    insert into ordermapper (`order`, item)
    values (#{order,jdbcType=INTEGER}, #{item,jdbcType=INTEGER})
  </insert>
  <select id="selectByOrder" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    select item from `ordermapper` where `order` = #{order, jdbcType=INTEGER}
  </select>
</mapper>