<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cie.mapper.OrderMapper">
  <resultMap id="BaseResultMap" type="cn.cie.entity.Order">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="price" jdbcType="DOUBLE" property="price" />
    <result column="ctime" jdbcType="TIMESTAMP" property="ctime" />
    <result column="utime" jdbcType="TIMESTAMP" property="utime" />
    <result column="stat" jdbcType="TINYINT" property="stat" />
  </resultMap>
  <sql id="Base_Column_List">
    id, uid, price, ctime, utime, stat
  </sql>

  <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from `order`
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByUidAndStat" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from `order`
    where uid = #{uid,jdbcType=INTEGER}
    and stat = #{stat,jdbcType=TINYINT}
  </select>
  <select id="selectByUidAndStatAndPage" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from `order`
    where uid = #{uid,jdbcType=INTEGER}
    and stat = #{stat,jdbcType=TINYINT}
    order by id asc
    limit #{startPos,jdbcType=INTEGER}, #{size,jdbcType=INTEGER}
  </select>
  <select id="getOrderNumsByUidAndStat" resultType="java.lang.Integer">
    select count(id) from `order` where uid = #{uid,jdbcType=INTEGER} and stat = #{stat,jdbcType=TINYINT}
  </select>

  <insert id="insert" parameterType="cn.cie.entity.Order" useGeneratedKeys="true" keyProperty="id">
    insert into `order`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        uid,
      </if>
      <if test="price != null">
        price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        #{price,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="cn.cie.entity.Order">
    update `order`
    <set>
      <if test="price != null">
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="stat != null">
        stat = #{stat,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateStatByDate">
    update `order` set stat = #{newstat,jdbcType=TINYINT}
    where stat = #{oldstat,jdbcType=TINYINT} and utime &lt; #{date,jdbcType=TIMESTAMP}
  </update>

</mapper>